body {
    margin: 0;
    background: #1B244A;

}

.container {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
}

h3 {
    top: 68px;
    font: Verdana;
    font-weight: 700;
    font-size: 40px;
    line-height: 35.89px;
    color: #EEEEEE;
}

#home-score, #guest-score {
    width: 155px;
    height: 120px;
    top: 125px;
    left: 82px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #080001;
}

#home-points-text,  #guest-points-text {
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    text-align: center;
    color: #F94F6D;

}

button {
    background-color: unset;
    border: 2px solid #9AABD8;
    color:  #9AABD8;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font: Cursed Timer ULiL;
    font-weight: 400px;
    font-size: 18px;
    line-height: 27.81px;
    justify-content: space-between;
}

